/* ********** глобальные настройки ************
================================================== */

/* сбрасываем свойства */

*,
*:before,
*:after { box-sizing: border-box }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-width: 900px;
    max-width: 1440px;
    margin: 0 auto;
    font: 400 16px/1.375 "Roboto", "Arial", sans-serif;
    color: #333333;
    background-color: #849d8f;
}

.bg {
    background-repeat: no-repeat;
    background-position: 50% 0;
}

body a:hover { color: #ec593c }

body a:active { color: #ec593c }

body input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #8fbdec inset;
}

.container {
    min-width: 300px;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
}

.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    max-width: 250px;
    padding: 10px 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #f26843, #e74b36);
    background: linear-gradient(to bottom, #f26843, #e74b36);
    text-shadow: 0px 2px 5px #a0200b;
    box-shadow: 0 2px 2px 0 #ac1000;
    border-radius: 40px;
}

.btn:hover {
    background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
    background-image: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
    background-image: -webkit-linear-gradient(bottom, #e1613e, #d74632);
    background-image: linear-gradient(to top, #e1613e, #d74632);
    box-shadow: inset 0 2px 2px 0 #942718;
}

.btn-2 {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 17px;
}

.btn-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

h2 { font-size: 35px }

/* header */

.page-header a {
    color: white;
    text-decoration: none;
}

.header-top {
    min-height: 70px;
    padding:0;
}

.header-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}


.header-logo {
    display: inline-block;
    margin-left: 10px;
}

.header-menu {

 margin-left: 20px;
 margin-bottom: 50px;
 padding-left: 0px;


}

.header-menu li {
    display: inline-block;
    padding: 10px;
    position: relative;
}

.header-menu  .first-submenu:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 20px;
    z-index: 32;
}

.header-menu a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #c6d8ce;
}

.header-menu > li:hover {
    color: black;
    background-color: #f8f7f4;
    border-radius: 30px;
}

.header-menu li:hover a {
    color: black;
    border-bottom: none;
}

.header-menu li:last-child { margin-right: 0px }

.sub-list {
    display: none;
    position: absolute;
    width: 145px;
    min-height: 175px;
    top: 50px;
    margin-left: -20px;
    background-color: #f8f7f4;
    border-radius: 5px;
    font-size: 14px;
    padding: 0;
    z-index: 32;
}

.sub-list li {
    display: inline-block;
    width: 100%;
}

.sub-list li a {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding: 0 0 0 10px;
}

.sub-list .sub-title {
    padding-left: 20px;
    font-weight: bold;
    cursor: default;
}

.sub-title:after {
    content: "";
    position: absolute;
    width: 80%;
    left: 15px;
    right: 9px;
    height: 1px;
    background-color: #d1d0ce;
    bottom: 0;

}

.first-submenu:hover .sub-list { display: block }

.sub-list li:hover {
    background: #fbded7;
    border-radius: 5px;
}

.sub-list li:active { background: #f6b5a5 }

.sub-list .current { background: #d07058 }


.search {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 32px;
    height: 32px;
    background: url(../img/loop.svg) 17px 17px no-repeat;
    background-position: 50% 50%;
    z-index: 100;
}

.search2 {
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: white;
    opacity: 0.2;
    z-index: 0;
    border-radius: 50%;
}

.search img {
    position: absolute;
    opacity: 0;
    z-index: 29;
    top: 24%;
    left: 30%;
}

.search:hover img,
.search:hover  .search2 { opacity: 1 }

.search:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 35px;
    height: 70px;
}

.search-form {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 275px;
    background: white;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
}

.search-form input {
    display: inline-block;
    width: 240px;
    border: 1px solid #b2b2b2;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.search:hover .search-form { display: block }

.user-block {
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left: 10px;
    width: 52px;
    height: 32px;
    background: url(../img/enter.svg) 17px 17px no-repeat;
    background-position: 50% 50%;
}

.user-block2 {
    position: absolute;
    width: 95px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: white;
    opacity: 0.2;
    border-radius: 40px;
}

.user-block img {
    position: absolute;
    opacity: 0;
    top: 28%;
    left: 18%;
    opacity: 0.2;
}

.user-block p {
    position: relative;
    top: -10px;
    right: -40px;
    color: white;
}

.user-block:hover img,
.user-block:hover  .user-block2,
.user-block:hover p {
    opacity: 1;
    color: black;
}

.user-form {
    display: none;
    position: absolute;
    top: 50px;
    right: -40px;
    width: 275px;
    height: 175px;
    background: white;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
}

.user-form input {
    display: inline-block;
    width: 240px;
    border: 1px solid #b2b2b2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.user-form a {
    display: inline-block;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    margin-left: 15px;
}

.user-form button { float: left }

.user-block:after {
    content: "";
    position: absolute;
    top: 0px;
    width: 100px;
    height: 90px;
}

.user-block:hover .user-form { display: block }

.cart {
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left: 50px;
    width: 120px;
    height: 32px;
    z-index: 4;
    background-position: 20% 50%;
}

.cart2 {
    position: relative;
    width: 120px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: white;
    opacity: 1;
    z-index: 0;
    border-radius: 40px;
}

.cart .logo {
    position: absolute;
    opacity: 1;
    top: 7px;
    left: 10px;
}

.cart > p {
    position: absolute;
    top: -10px;
    right: 15px;
    color: black;
}

.cart:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 70px;
}

.cart-form {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 515px;
    height: 240px;
    background: white;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
    font-size: 13px;
}

.cart-form table { border-bottom: 2px solid red }

.cart-form table tr {
    height: 60px;
    vertical-align: middle;
    background: white;
}

.cart-form table td:nth-child(1) { width: 25px }

.cart-form table td:nth-child(2) { width: 40px }

.cart-form table td:nth-child(3) { width: 225px }

.cart-form table td:nth-child(4) { width: 100px }

.cart-form table td:nth-child(5) { width: 60px }

.cart-form .count {
    display: block;
    position: absolute;
    right: 20px;
    width: 125px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.cart-form button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.cart:hover .cart-form { display: block }

.work {
    margin-top: 30px;
    text-align: right;
}

.work p {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.work span { font-size: 22px }

.slide {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.slide .p-promo {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 40px;
    line-height: 72px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
}

.slider-block { position: relative }

.slider__controls {
    position: absolute;
    bottom: 20px;
}

.sliderlabel {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

input,
.slider1,
.slider2,
.slider3 { display: none }

.slider__check-1:checked ~ .bg {
    background-color: #849d8f;
    background-image: url(../img/cream1.png);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.slider__check-2:checked ~ .bg {
    background-color: #8996a6;
    background-image: url(../img/cream2.png);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.slider__check-3:checked ~ .bg {
    background-color: #9d8b84;
    background-image: url(../img/cream3.png);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.slider__check-1:checked ~ .bg .slider1,
.slider__check-2:checked ~ .bg .slider2,
.slider__check-3:checked ~ .bg .slider3 {
    display: block;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.slider__check-1:checked ~ .bg .sliderlabel:nth-child(1),
.slider__check-2:checked ~ .bg .sliderlabel:nth-child(2),
.slider__check-3:checked ~ .bg .sliderlabel:nth-child(3) { background-color: #ffffff }

.sliderlabel:hover { background-color: #b2c1b7 }

.main-banners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;    
}

.banner {
    position: relative;
    min-height: 230px;
    width: 47%;
    padding: 15px 20px 30px 20px;
    color: white;
    font-weight: bold;
    margin: 0px auto;
    border-radius: 15px;
}

.banner  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 35px;
    word-wrap: break-word;
}

.banner  p {
    margin-bottom: 60px;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}

.banner2 {
    background: url(../img/chocolate.png) no-repeat #734733;
    background-size: cover;
}

.banner1 {
    background: url(../img/raspberries.png) no-repeat #98000e;
    background-size: cover;
    margin-right: 20px;
}

.banner1 .btn,
.banner2 .btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}


.promo-sale {
   padding: 0 0;
}

.promo-sale ul {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between; 
 -ms-align-items: center;
 align-items: center;
}

@media screen and (max-width: 1100px) { 
    .sale-block {
        width:50%;
    }
}


.promo-sale li {
    list-style: none;
    position: relative;
    max-width: 206px;
    min-height: 330px;
    text-align: center;
    margin:30px auto;
    z-index: 4;
}

.promo-sale li > img:first-child {
    position: absolute;
    top: 10px;
}

.promo-sale li p {
    position: absolute;
    top: 100px;
    font-size: 44px;
    color: white;
    font-weight: bold;
}

.promo-sale li p > img {
    position: relative;
    top: 6px;
}

.promo-sale  p span {
    position: relative;
    font-size: 26px;
}

.promo-sale li .ref {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.backg {
    content: "";
    display: none;
    position: absolute;
    top: -10px;
    width: 210px;
    height: 380px;
    background: white;
    border-radius: 10px;
    opacity: 0.3;
    z-index: -30;
}

.promo-sale li .btn {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: none;
    z-index: 30;
}

.promo-sale li:hover .btn,
.promo-sale li:hover .backg { display: block }

.promo-sale li:hover .ref { text-decoration: none }

.seo {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    padding: 20px 30px 30px 20px;
    color: black;
    border-radius: 15px;
    background: url(../img/wafer.jpg) repeat #f1e5cc;
}

.seo  h2 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: medium;
    margin-bottom: 30px;
}

.seo  p {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    font-size: 16px;
    line-height: 22px;
}

.seo td { position: relative }

.seo  img {
    position: absolute;
    left: 0px;
    top: -10px;
    font-size: 16px;
    line-height: 22px;
}

.main-news {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

}

.news {
    margin: 40px auto;
    min-height: 220px;
    width: 50%;
    padding: 20px;
    color: black;
    font-weight: bold;
    border-radius: 15px;
}

.news1  h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #5a5a5a;
    font-weight: bold;
}

.news1 .ref { display: block }

.news1 a {
    text-decoration: underline;
    font-size: 24px;
    font-weight: bold;
    color: #353535;
    text-align: left;
    width: 297px;
    background: white;
}

.news2  p {
    position: relative;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    font-weight: normal;
}

.news1 {
    background: url(../img/blog-1.png) no-repeat #ffffff;
    background-size: cover;
    margin-right: 20px;
}

.news2 { background: url(../img/blog-2.png) no-repeat #ffffff;
    background-size: cover; }

    .mail-form { margin-top: 20px; 
    }

    .mail-form input {
        width: 50%;
        display: inline-block;
        border: 1px solid #b2b2b2;
        padding: 10px;
        margin-right: 8px;
        border-radius: 5px;
    }

    .mail-form .btn { display: inline-block; }

    .map {
        background: white;
        position: relative;
    }

    .map iframe { width: 100% }

    .map-text {
        position: absolute;
        width: 300px;
        background: white;
        top: 65px;
        right: 20px;
        border-radius: 20px;
    }

    .contact-text {
        margin-top: 30px;
        padding: 0px 20px;
        font-size: 14px;
        line-height: 20px;
    }


    .map-text .btn {
        margin-bottom: 20px;
    }

    .contact-text span {
        margin-top: 0px;
        padding: 0px;
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
    }


    .contact-form-block {
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        display: none;

    } 

    .contact-form {
        display: block;
        background-color: #00f;
        position: relative;
        margin: 0px auto;
        min-width: 240px;
        max-width: 500px;
        min-height: 410px;
        background: white;
        padding: 10px 20px;
        z-index: 100;
        border-radius: 5px;
    }

    .contact-form input,
    .contact-form textarea {
        display: inline-block;
        width: 70%;
        border: 1px solid #b2b2b2;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 14px;
    }

    .contact-form textarea {
        width: 90%;
        min-height: 50px;
        text-align: top;
    }

    .contact-form h3 { font-size: 24px }


    .contact-form button {
        margin-top: 20px;
        float: right;
    }

    .contact-form p{
      position: absolute;
      right:0px;
      top:-20px;
      border:20px solid white;
  }

  .contact-form p::before,
  .contact-form p::after {
    content: "";
    display: block;
    position: absolute;
    left:-12px;
    width: 25px;
    height: 2px;
    background: black;
    z-index: 100;
}

.contact-form p::before{
    transform: rotate(45deg);
}

.contact-form p::after{
    transform: rotate(-45deg);
}


.contact-form p:hover::before{
    transform: rotate(225deg);
    transition:0.5s;
}

.contact-form p:hover::after{
    transform: rotate(-225deg);
    transition:0.5s;
}
/*footer*/

footer {
    color: white;
    min-height: 100px;
    width: 100%;
}

.footer-top {
    margin-top: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.footer-social {
    display: inline-block;
}

.social-btn img {
    width: 30px;
    height: 30px;
}

.footer-social a {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.footer-social a:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 40px;
    height: 40px;
    background: white;
    opacity: 0.4;
    border-radius: 50%;
}

.footer-menu {
    margin: 0px auto;
    display: inline-block;

}

.nav-menu {
    padding: 0;
    margin: 0;
    max-width: 350px;
}

.footer-menu li {
    position: relative;
    display: inline-block;
    width: 170px;
}

.footer-menu img {
    position: absolute;
    left: -20px;
    top: 5px;
}

.footer-menu a {
    font-size: 13px;
    color: white;
    font-weight: normal;
}

.footer-menu  li:first-child a { font-weight: bold }

.footer-copyright p,
.footer-copyright a {
    color: white;
    font-size: 12px;
}